{% extends "master.html.twig" %}

{% block title %} {{ product.product_name }} {% endblock %}

{% block mainContent %}

    <div class="products">
        <h2> {{ product.product_name }} </h2>
            {% if product %}
                    <div class="item_card">
                        <a href="/product/{{ product.id }}"><img alt="{{ product.product_name }}" src="{{product.image_path}}" height="350" align="left"></a>
                        <div class="item_detail">
                        <button class="adm_button" onclick="location.href='/cart/add/{{ product.id }}'">Add to cart</button>
                        <h2>CDN$ {{product.price}} </h2>
                        <p>{{ product.description }}</p>
                        </div>
                    </div>      
            {% else %}
                <p>Invalid product.</p>
            {% endif %}
    </div>
    
{% endblock %}